<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>

<div class="image">
    <img  src="https://www.gsb.stanford.edu/sites/default/files/styles/1630x_variable/public/2022-06/vftt-key-sundar%20pichai.jpeg?itok=uD9R5pgV" alt="">
   <br>

 
  </div>
  <h3 style="text-align: center;">Sir Sundar Pichai CEO of  <a href="https://abc.xyz/" target="_blank">Alphabet Inc.</a></h3>
</body>
</html>