<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOG-PAGE</title>
</head>
<body>
  <app-components></app-components>
  <!-- <div class="container">
    <div class="blog-img">
      <img src="/src/assets/img2.jpg" class="center" width="100px" height="100px">
      <img src = "myImage">
      <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Ratione dolores autem soluta deleniti vero numquam repellat,
      <img src="/xampp/htdocs/angular/Blog-page/src/assets/image/img1.jpg" alt="center"> 
    </div>
  
  </div> -->
</body>
</html>