<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="blog">
  <h4>CARRIER</h4>
  <P>
    Pichai worked in engineering and product management at Applied Materials and in management consulting at McKinsey & Company.
    Pichai joined Google in 2004, where he led the product management and innovation efforts for a suite of Google's client software products, 
    including Google Chrome and ChromeOS, as well as being largely responsible for Google Drive.
    
In December 2017, Pichai was a speaker at the World Internet Conference in China,
 where he stated that "a lot of work Google does is to help Chinese companies.
 
In December 2019, Pichai became the CEO of Alphabet Inc.
  </P>
</div>

<div class="achivements">
  <h4> AWARDS & RECOGNITION</h4>
  <p>In 2022, Pichai received the Padma Bhushan from the Government of India, its third-highest civilian award.</p>
</div>

<div class="utubevideo">
  
 <div class="video">
 <iframe width="330" height="330" src="https://www.youtube.com/embed/u07TTQzX-L0" title="YouTube video player" frameborder="0" 
 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <p>Recent Interview Code 2022.</p>
</div> 

</div>

</body>
</html>
